#container{
    background-color: rgb(68, 68, 68);
    padding:30px;

}

.row{
    background-color: rgb(68, 68, 68);
  
    padding: 10px!important;
}

a{
    color: grey;
}
label{
background-color:rgb(68, 68, 68) ;
}

input{
    border-radius: 10px;
    
    margin-top: 10px;
}